{% if project.compose.name is not defined %}
name: {{ project.name | ansible.builtin.to_yaml | ansible.builtin.regex_replace('\n$', '') }}
{% endif %}

{{ project.compose | ansible.builtin.to_nice_yaml }}
