{% if instance.compose.name is not defined %}
name: {{ compose_project_name | ansible.builtin.to_yaml | ansible.builtin.regex_replace('\n$', '') }}
{% endif %}

{{ instance.compose | ansible.builtin.to_nice_yaml }}
